<!doctype html>
<html>

<head>
    <link rel="icon" type="image/png" sizes="32x32" href="/src/img/user.png">
    <title>Espace client</title>
    <meta charset="utf-8" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    {{>import}}

    <link rel="stylesheet" href="css/client.css">
</head>


<body>

    {{>header}}

    <div class="background__cover">

            <div class="client__container">

                <div class="client__info">
                    <span class="name"><strong>{{login}}</strong></span>
                    {{#ifEquals server.connected true}}
                        <div class="amount">
                        <i class="fas fa-wallet"></i>
                        <span class="balance">Solde : {{account.amount}} TEK(s)</span>
                    </div>
                    {{/ifEquals}}
                    {{#ifEquals server.connected false}}
                        <h3 style="color: rgb(189, 23, 23);">Le réseau n'est pas en ligne </h3>
                    {{/ifEquals}}
                </div>

                <div class="cover__menu">
                    <div class="button__item" href="notimplemented">
                        <i class="fas fa-user"></i>
                        <span>Mon compte</span>
                    </div>
                    <div class="button__item" href="transaction">
                        <i class="fas fa-exchange-alt"></i>
                        <span>Faire une transaction</span>
                    </div>
                    <div class="button__item" href="logout">
                        <i class="fas fa-sign-out-alt"></i>
                        <span>Déconnexion</span>
                    </div>
                </div>

            </div>
    </div>

</body>

<script src="/socket.io/socket.io.js"></script>
<script src="js/darkmode.js"></script>
<script src="js/main.js"></script>
<script src="js/client.js"></script>

</html>