<!doctype html>
<html>

<head>
    <link rel="icon" type="image/png" sizes="32x32" href="/src/img/icon.png">
    <title>TEK</title>
    <meta charset="utf-8" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    {{>import}}
</head>

<body>
    

        <div class="image__cover">
            <div class="cover__header">
                <div class="blockchain__status">
                    <i class="fas fa-power-off"></i>
                    <span>TEK hors ligne</span>
                </div>
                <div class="moon__theme">
                    <i class="far fa-moon"></i>
                </div>
            </div>
            <div class="cover__container">
                <h1 class="title">TEK</h1>
                <h2 class="subtitle">By TREG (demo website)</h2>
            </div>
            <div class="cover__menu">
                <div class="menu_item state {{cover.connected_class}}">
                    <span>{{cover.text}}</span>
                    <i class="fas fa-sign-out-alt" href="/logout"></i>
                </div>
                <div class="menu_item normal" href="#keywords">
                    <i class="fas fa-code-branch" ></i>
                    <span>Le projet</span>
                </div>
                <div class="menu_item normal" href="/displayer">
                    <i class="fas fa-bold" ></i>
                    <span>La blockchain</span>
                </div>
                <div class="menu_item normal" href="/client">
                    <i class="fas fa-user"></i>
                    <span>Espace client</span>
                </div>
            </div>
        </div>
        
        <div class="section" id="keywords">
            <div class="section__container">
                <div class="word">
                    <span>#Crypto-Monnaie</span>
                    <i class="fab fa-bitcoin" style="color: #ffc629;"></i>
                </div>
                <div class="word">
                    <span>#Blockchain</span>
                    <i class="fas fa-dice-d6" style="color: #5684cf;"></i>
                </div>
                <div class="word">
                    <span>#Décentralisation</span>
                    <i class="fas fa-network-wired" style="color: #a2a2a2;"></i>
                </div>
                <div class="word">
                    <span>#Transactions</span>
                    <i class="fas fa-euro-sign" style="color: rgba(60, 136, 60, 0.699);"></i>
                </div>
                <div class="word">
                    <span>#Token</span>
                    <i class="fas fa-key" style="color: #d5b17c;"></i>
                </div>
            </div>
        </div>

        <div class="section" id="abstract">
            <div class="section__container">
                <h1 class="title">Présentation générale</h1>
                <div class="container">
                    <p>
                        <br>
                        Depuis plus de dix ans, la conception et l'utilisation de <strong>crypto-monnaies</strong> connaissent un grand essor.<br>
                        Ces dernières,  qui ne sont contrôlées par aucune institution, sont dorénavant acceptées comme moyen de paiement.<br>
                        En développant un réseau en <strong>peer to peer</strong> et une <strong>blockchain</strong>, TREG a créé sa propre crypto-monnaie,  le TEK.<br>
                        Ce réseau, développé en <strong>langage C</strong>, est accessible depuis une interface web en <strong>Javascript</strong>, exploitant l'environnement <strong>Node.js</strong>. <br>
                        Au travers de ce projet, TREG souhaite mettre en avant les crypto-monnaies, qui constitueront probablement les échanges monétaires de demain.
                    </p>
                </div>
            </div>
        </div>


        <div class="section"  id="members">
            <div class="section__container">
                <h1 class="title">Les membres</h1>
                <div class="container">
                    <div class="member__box">
                        <img src="/src/img/margaux.png" alt="">
                        <h2>Margaux Cavalié</h2>
                    </div>
                    <div class="member__box">
                        <img src="/src/img/pierre.jpg" alt="">
                        <h2>Pierre Litoux</h2>
                    </div>
                    <div class="member__box">
                        <img src="/src/img/adrien2.png" alt="">
                        <h2>Adrien Pingard</h2>
                    </div>
                    <div class="member__box">
                        <img src="/src/img/thimot.png" alt="">
                        <h2>Thimot Veyre</h2>
                    </div>
                </div>
            </div>
        </div>

        <!--
        <div class="section" id="app">
            <div class="section__container">
                <h1 class="title">Matériel et services utilisés</h1>
                <div class="container">
                    <div class="mat_box">
                        <div class="name">
                            <h2>openSsl/rsa par <a href="https://www.openssl.org/">The OpenSSL Project</a></h2>
                        </div>
                    </div>
                   <div class="mat_box">
                        <div class="name">
                            <h2>openSsl/pem par <a href="https://www.openssl.org/">The OpenSSL Project</a></h2>
                        </div>
                    </div>
                    <div class="mat_box">
                        <div class="name">
                            <h2>sha256 par <a href="https://github.com/B-Con/crypto-algorithms">Brad Conte (brad AT bradconte.com)</a></h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        -->

        <div class="section" id="download">
            <div class="section__container">
                <h1 class="title">Téléchargements</h1>
                <div class="container">
                    <div class="download__box" href="/src/downloads/Rapport de projet.pdf">
                        <img src="/src/img/papier.png" alt="">
                        <div class="name">
                            <h2>Rapport de projet</h2>
                        </div>
                    </div>
                    <div class="download__box" href="/src/downloads/tek">
                        <img src="/src/img/exe.png" alt="">
                        <div class="name">
                            <h2>Binary (Linux Amd64)</h2>
                        </div>
                    </div>
                    <div class="download__box" href="https://github.com/TREGS4/Tek">
                        <img src="/src/img/telecharger.png" alt="">
                        <div class="name">
                            <h2>Code source</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="image__cover">
            <div class="cover__header">
                <div class="blockchain__status">
                    <i class="fas fa-power-off"></i>
                    <span>TEK hors ligne</span>
                </div>
                <div class="moon__theme">
                    <i class="far fa-moon"></i>
                </div>
            </div>
            <div class="cover__container">
                <h1 class="title">TEK</h1>
                <h2 class="subtitle">By TREG (demo website)</h2>
            </div>
            <div class="cover__menu">
                <div class="menu_item state {{cover.connected_class}}">
                    <span>{{cover.text}}</span>
                    <i class="fas fa-sign-out-alt" href="/logout"></i>
                </div>
                <div class="menu_item normal" href="#keywords">
                    <i class="fas fa-code-branch" ></i>
                    <span>Projet</span>
                </div>
                <div class="menu_item normal" href="/displayer">
                    <i class="fas fa-bold" ></i>
                    <span>La blockchain</span>
                </div>
                <div class="menu_item normal" href="/client">
                    <i class="fas fa-user"></i>
                    <span>Espace client</span>
                </div>
            </div>
        </div>

</body>

<script src="/socket.io/socket.io.js"></script>

<script src="js/darkmode.js"></script>
<script src="js/main.js"></script>
<script src="js/home.js"></script>


</html>
